html.meridius-mode {
    --primary: #141414;
    --conversations: #0e0e0e;
    --conversations-collapsed: #0e0e0e;

    --secondary: #E9003F;
    --secondary-hover: #c40034;
    --secondary-opacity-half: #E9003F80;
    --secondary-hover-opacity: #E9003F40;
    --secondary-disabled: #99002980;

    --notification: #141414;
    --notification-hover: #242424;

    --scroll: #545454;
    --scroll-width: 12px;
    --scroll-radius: 8px;

    --backdrop: #0e0e0e;

    --titlebar: #080808;
    --titlebar-color: #ffffff;
    --titlebar-hover: #1a1a1a;

    --conversations-border: #000000;

    --navigation-select: #ffffff26;

    --border: #202020;
    --border-opacity: #20202025;

    --field: #1a1a1a;

    --text: #ffffff;
    --small-text: #aaaeb4;

    --icons: #ffffff;
    --icons-hover: #bdbdbd;
    --icons-disabled: #303030;

    --item: #1a1a1a;
    --item-hover: #2f2f2f;
    --item-disabled: #000000;

    --player-slider: #ffffff26;
    --player-slider-progress: #ffffff52;

    --switch-unchecked: #545454;

    --skeleton-background: #101010cc;
    --skeleton-highlight: #161616cc;

    --tooltip: var(--secondary);
    --tooltip-text: var(--text);
}