html.vk-black-mode {
    --primary: #131313;
    --conversations: #131313;
    --conversations-collapsed: #131313;

    --secondary: #71aaeb;
    --secondary-hover: #aeb7c21f;
    --secondary-opacity-half: #aeb7c22d;
    --secondary-hover-opacity: #aeb7c22d;
    --secondary-disabled: #aeb7c20c;

    --scroll: #545454;
    --scroll-width: 12px;
    --scroll-radius: 8px;

    --backdrop: #19191a;

    --titlebar: #131313;
    --titlebar-color: #ffffff;
    --titlebar-hover: #aeb7c21f;

    --navigation-select: #ffffff26;

    --border: #222222;
    --border-opacity: #22222225;

    --field: #202020;

    --text: #ffffff;
    --small-text: #939393;

    --icons: #ffffff;
    --icons-hover: #bdbdbd;
    --icons-disabled: #4e4e4e;

    --item: #202020;
    --item-hover: #808080;
    --item-disabled: #000000;

    --player-slider: #ffffff26;
    --player-slider-progress: #ffffff52;

    --switch-unchecked: #545454;

    --skeleton-background: #222222cc;
    --skeleton-highlight: #191919cc;

    --tooltip: #2787f5;
    --tooltip-text: #ffffff;
}