html {
    box-sizing: border-box;
    font-size: 16px;

    .page {
        background: var(--primary);

        overflow-y: auto;

        &.first {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

html, body, #app, #__layout, #__layout-app, #__nuxt, .application--wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

span, input, textarea, select, div {
    color: var(--text);
    font-family: Roboto;
    font-weight: 400;

    user-select: none;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeSpeed;

    &::selection {
        background: var(--secondary);
    }
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
    outline: none;
}

.switchable {
    cursor: pointer;

    * {
        cursor: pointer;
    }

    &:hover {
        &:not(.active) {
            &.icon {
                &.vkgram path {
                    fill: var(--icons-hover) !important;
                }
        
                &:not(.vkgram) path {
                    stroke: var(--icons-hover) !important;
                }
            }
    
            &:not(.icon) {
                color: var(--icons-hover);
    
                .icon {
                    &.vkgram path {
                        fill: var(--icons-hover) !important;
                    }
            
                    &:not(.vkgram) path {
                        stroke: var(--icons-hover) !important;
                    }
                }
    
                span {
                    color: var(--icons-hover) !important;
                }
            }
        }
    }
}

@mixin ClickableIcon {
    transition: fill .1s ease-in-out;

    &.filled, &.vkgram path {
        fill: var(--secondary);
    }

    &:not(.vkgram):not(.nostroke):not(.filled) {
        stroke: var(--secondary);
    }
}

div.clickable:hover, a.clickable:hover {
    cursor: pointer;
    
    span {
        color: var(--secondary) !important  ;
        transition: color .1s ease-in-out;
    }

    .icon {
        @include ClickableIcon;
    }
}

span.clickable:hover{
    cursor: pointer;
    color: var(--secondary) !important;
}

a:not(.clickable) {
    cursor: default;
}

.cg-5 {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.icon {
    display: inline-block;

    width: 24px;

    color: var(--icons);

    &.vkgram path {
        fill: var(--icons);

        transition: fill .1s ease-in-out;
    }

    &:not(.vkgram) {
        fill: none;
        
        &:not(.nostroke) {
            stroke: var(--icons);
            stroke-width: 2px;
            stroke-linecap: square;
            stroke-linejoin: miter;
        }

        &.filled {
            fill: var(--icons);
            transition: fill .1s ease-in-out;
        }

        &:not(.filled) {
            transition: stroke .1s ease-in-out;
        }
    }

    &.clickable {
        cursor: pointer;

        &:not(.active):hover {
            @include ClickableIcon;
        }
    }

    &.active {
        &.vkgram path {
            fill: var(--secondary);
        }

        &:not(.vkgram) {
            stroke: var(--secondary);
        }
    }

    &.disabled {
        cursor: not-allowed;

        path {
            fill: var(--icons-disabled) !important;
        }
    }

    &.loader-icon {
        fill: var(--icons);

        path {
            stroke: none;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 3s infinite linear;
}

.nowrap {
    display: inline-block;
    width: auto;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.small-text {
    color: var(--small-text) !important;
    font-size: 12px;
}

.highlight {
    color: var(--secondary) !important;
}

.fade {
    &-enter-active, &-leave-active {
        transition: opacity .15s; 
    }

    &-enter, &-leave-to {
        opacity: 0 
    }
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .1s ease-in-out;
}

.component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 4px;

    &-track {
        background: none;
        border-radius: 0px 0px 0px 0px;
    }

    &-thumb {
        background: var(--scroll);
        border-radius: var(--scroll-radius);
    }
}

.tooltip {
    display: block !important;
    z-index: 10000;
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
  
    .tooltip-inner {
        padding: 5px;

        background: var(--tooltip);
        border-radius: 4px;
        
        color: var(--tooltip-text);
        font-size: 12px;
    }
  
    .tooltip-arrow {
        border-color: var(--tooltip);
    }
  
    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .1s, visibility .1s;
    }
  
    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .1s;
    }
}